/Model/nbproject/private/
/Vista/nbproject/private/
/Connexio/nbproject/private/
/Connexio/build/
/P1-T5-CapaOracle-FerrerMuñozCarles/nbproject/private/
/P1-T5-CapaOracle-FerrerMuñozCarles/build/
/Model/build/
/P1-T5-Model-FerrerMuñozCarles/nbproject/private/
/P1-T5-CapaOracle-FerrerMunozCarles/nbproject/private/
/P1-T5-InterficiePersistencia-FerrerMunozCarles/nbproject/private/
/P1-T5-Model-FerrerMunozCarles/nbproject/private/
/P1-T5-CapaOracle-FerrerMunozCarles/build/
/P1-T5-Model-FerrerMunozCarles/build/
/P1-T5-InterficiePersistencia-FerrerMunozCarles/build/
/P1-T5-Model-FerrerMunozCarles/dist/
/P1-T5-InterficiePersistencia-FerrerMunozCarles/dist/
/Vista/build/
/P1-T5-CapaOracle-FerrerMunozCarles/dist/
